element-styles {
   display: inline-block;
   width: 1200px;
}

.soulsearcher-container1 {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   min-width: 1200px;
   padding-top: 58px;
   background: #110f1c;
}

.soulsearcher-container {
   box-sizing: border-box;
   display: flex;
   flex: 0 0 auto;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   padding-top: 5px;
}

.soulsearcher-container2 {
   box-sizing: border-box;
   flex: 0 0 auto;
}

.image-container3 {
   box-sizing: border-box;
   display: block;
   width: 497px;
   max-width: initial;
   height: 769px;
   border: none;
   object-fit: cover;
}

.img-content-f0051029 {
   content: url("https://s3-alpha-sig.figma.com/img/8312/93a1/573539cad5bc703ebfb666e1c963ac61?Expires=1697414400&Signature=lP9tj6yTBrCIGmvBxaVPBftHmbwcASNPf7izMr8rmt1D8dG9ai2tuVbveppNIO4CDtro3kRfQ4qSmIQdDjMGxm8kaPUqlDugQIrIQQC2PlYjiih8q9Lf2aPyORDff3CfXpAIdUIkh6zamgX2nDsYANVr~Qr~l~Z4wYLHxq0qXZKxUw4bj-dWstqAuMw9xb9sE~-c5Hl8-9VuDoTTXiOKVCTE7aOqKe4GX0LdCO02Qcvc~u4uMZqR5ixqF9sPF80kjae6ZfPflSpsfvWTcUXuiMIYtkqBjrIr43kR-QukuoDoU62Wpfx1NJoGdZQkBaRfXwemEuEzHy4R1MsVDMUtXg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.soulsearcher-heading {
   box-sizing: border-box;
   flex: 0 0 auto;
   padding-bottom: 714px;
   margin-left: -397px;
   font: 400 50px Lozung Caps;
   color: white;
   letter-spacing: 0.1em;
}

.soulsearcher-about {
   box-sizing: border-box;
   display: flex;
   flex: 1 0 auto;
   flex-direction: column;
   align-items: stretch;
   justify-content: flex-start;
   padding-bottom: 205px;
   margin-left: 9px;
}

.about-section {
   box-sizing: border-box;
   display: flex;
   flex: 0 0 auto;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
}

.about-section1 {
   box-sizing: border-box;
   flex: 1 0 auto;
   padding-top: 124px;
}

.about-container {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   height: 59px;
   padding-right: 39px;
   padding-left: 39px;
   border: 2.5px solid rgba(255, 255, 255, 0.64);
   border-radius: 37px;
}

.about-title {
   box-sizing: border-box;
   flex: 0 0 auto;
   font: 400 50px Lozung Caps;
   color: white;
}

.image-container2 {
   box-sizing: border-box;
   display: flex;
   flex: 0 0 auto;
   flex-direction: row;
   gap: 26.5px;
   align-items: center;
   justify-content: flex-start;
}

.image-container {
   box-sizing: border-box;
   display: block;
   width: 60px;
   max-width: initial;
   height: 60px;
}

.img-content-785343c9 {
   content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%27988.0000%2058.0000%2060.0000%2060.0000%27%20x%3D%270%27%20y%3D%270%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20id%3D%27Vector_3%27%20d%3D%27M1027.22%2058H1008.81C992%2058%20988%2061.9999%20988%2078.7812V97.1875C988%20114%20991.969%20118%201008.78%20118H1027.19C1044%20118%201048%20114.031%201048%2097.2186V78.8125C1048%2061.9999%201044.03%2058%201027.22%2058ZM1036.44%20100.812H1032.06C1030.41%20100.812%201029.91%2099.4686%201026.94%2096.4999C1024.34%2094%201023.25%2093.6874%201022.59%2093.6874C1021.69%2093.6874%201021.44%2093.9374%201021.44%2095.1874V99.1249C1021.44%20100.188%201021.09%20100.812%201018.31%20100.812C1015.61%20100.631%201013%2099.8112%201010.68%2098.4204C1008.36%2097.0295%201006.4%2095.1074%201004.97%2092.8124C1001.57%2088.5821%20999.205%2083.6172%20998.063%2078.3124C998.063%2077.6562%20998.312%2077.0624%20999.563%2077.0624H1003.94C1005.06%2077.0624%201005.47%2077.5624%201005.91%2078.7188C1008.03%2084.9687%201011.66%2090.4062%201013.12%2090.4062C1013.69%2090.4062%201013.94%2090.1562%201013.94%2088.75V82.3124C1013.75%2079.375%201012.19%2079.1249%201012.19%2078.0625C1012.21%2077.7822%201012.34%2077.521%201012.55%2077.3342C1012.76%2077.1475%201013.03%2077.05%201013.31%2077.0624H1020.19C1021.13%2077.0624%201021.44%2077.5311%201021.44%2078.6561V87.3438C1021.44%2088.2812%201021.84%2088.5936%201022.12%2088.5936C1022.69%2088.5936%201023.12%2088.2813%201024.16%2087.25C1026.37%2084.5475%201028.18%2081.5368%201029.53%2078.3124C1029.67%2077.9245%201029.93%2077.5922%201030.27%2077.3665C1030.62%2077.1408%201031.03%2077.0339%201031.44%2077.0624H1035.81C1037.12%2077.0624%201037.41%2077.7186%201037.13%2078.6561C1035.53%2082.2211%201033.56%2085.605%201031.25%2088.75C1030.78%2089.4687%201030.59%2089.8437%201031.25%2090.6874C1031.69%2091.3437%201033.22%2092.6249%201034.25%2093.8436C1035.75%2095.3399%201037%2097.071%201037.94%2098.9688C1038.31%20100.188%201037.69%20100.812%201036.44%20100.812Z%27%20fill%3D%27%233275F6%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%2F%3E%3C%2Fsvg%3E");
}

.image-container1 {
   box-sizing: border-box;
   display: block;
   width: 60spx;
   max-width: initial;
   height: 60px;
}

.img-content-7a8c6082 {
   content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%271074.0000%2060.0000%2056.0000%2056.0000%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20id%3D%274d02b27f%27%20x%3D%270%27%20y%3D%270%27%3E%3Cg%20id%3D%27MacBook%20Air%20-%201%27%20clip-path%3D%27url%28%23clip0_1_2%29%27%3E%3Cg%20id%3D%27Telegram%27%20clip-path%3D%27url%28%23clip1_1_2%29%27%3E%3Cg%20id%3D%27Layer%202%27%3E%3Cg%20id%3D%27Layer%202_2%27%3E%3Cg%20id%3D%27Telegram_2%27%3E%3Cpath%20id%3D%27Vector%27%20d%3D%27M1074.5%2088C1074.5%2068%201082%2060.5%201102%2060.5C1122%2060.5%201129.5%2068%201129.5%2088C1129.5%20108%201122%20115.5%201102%20115.5C1082%20115.5%201074.5%20108%201074.5%2088Z%27%20fill%3D%27%2300ABE8%27%2F%3E%3Cpath%20id%3D%27Vector_2%27%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M1114.5%2075.5L1087.63%2086.85C1087.43%2086.9279%201087.26%2087.0624%201087.15%2087.2362C1087.03%2087.41%201086.96%2087.6151%201086.96%2087.825C1086.96%2088.0349%201087.03%2088.24%201087.15%2088.4138C1087.26%2088.5876%201087.43%2088.7221%201087.63%2088.8L1092.63%2090.375C1093.42%2090.6193%201094.25%2090.681%201095.07%2090.5554C1095.89%2090.4298%201096.67%2090.1203%201097.35%2089.65L1108.68%2081.825C1108.76%2081.7832%201108.85%2081.7703%201108.94%2081.7884C1109.03%2081.8065%201109.11%2081.8544%201109.17%2081.9244C1109.22%2081.9943%201109.26%2082.082%201109.26%2082.1731C1109.26%2082.2641%201109.23%2082.353%201109.18%2082.425L1100.5%2090.725C1100.28%2090.9416%201100.11%2091.2042%201100%2091.4941C1099.89%2091.7841%201099.85%2092.0941%201099.88%2092.4022C1099.9%2092.7103%201100%2093.0088%201100.15%2093.2763C1100.31%2093.5439%201100.52%2093.7739%201100.78%2093.95L1110.1%20100.25C1110.39%20100.442%201110.73%20100.558%201111.07%20100.588C1111.42%20100.618%201111.77%20100.561%201112.09%20100.422C1112.41%20100.284%201112.69%20100.067%201112.91%2099.7924C1113.12%2099.5179%201113.27%2099.194%201113.33%2098.85L1117%2077.5C1117.06%2077.1776%201117.03%2076.8458%201116.91%2076.5396C1116.79%2076.2333%201116.6%2075.9638%201116.34%2075.7593C1116.09%2075.5548%201115.78%2075.4228%201115.46%2075.3772C1115.13%2075.3316%201114.8%2075.374%201114.5%2075.5Z%27%20fill%3D%27white%27%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%27clip0_1_2%27%3E%3Crect%20width%3D%271280%27%20height%3D%27832%27%20fill%3D%27white%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%27clip1_1_2%27%3E%3Crect%20width%3D%2760%27%20height%3D%2760%27%20fill%3D%27white%27%20transform%3D%27translate%281072%2058%29%27%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.img-content-d12b0b35 {
   content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%271158.0000%2060.0000%2056.0000%2056.0000%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20id%3D%27d76f772d%27%20x%3D%270%27%20y%3D%270%27%3E%3Cg%20id%3D%27MacBook%20Air%20-%201%27%20clip-path%3D%27url%28%23clip0_1_2%29%27%3E%3Cg%20id%3D%27google%20youtube%27%20clip-path%3D%27url%28%23clip2_1_2%29%27%3E%3Cg%20id%3D%27Layer%202_3%27%3E%3Cg%20id%3D%27Layer%203%27%3E%3Cpath%20id%3D%27Vector_4%27%20d%3D%27M1158.5%2088C1158.5%2068%201166%2060.5%201186%2060.5C1206%2060.5%201213.5%2068%201213.5%2088C1213.5%20108%201206%20115.5%201186%20115.5C1166%20115.5%201158.5%20108%201158.5%2088Z%27%20fill%3D%27%23FF0000%27%2F%3E%3Cpath%20id%3D%27Vector_5%27%20d%3D%27M1203.65%2080.5C1203.47%2079.1602%201202.97%2077.8828%201202.2%2076.775C1201.73%2076.2661%201201.16%2075.8611%201200.52%2075.5856C1199.88%2075.3101%201199.19%2075.1703%201198.5%2075.175C1193.5%2074.8%201186%2074.8%201186%2074.8C1186%2074.8%201178.5%2074.8%201173.5%2075.175C1172.82%2075.184%201172.15%2075.3305%201171.54%2075.6055C1170.92%2075.8805%201170.36%2076.2784%201169.9%2076.775C1169.09%2077.8733%201168.56%2079.1514%201168.35%2080.5C1168.13%2082.5178%201168.01%2084.5454%201168%2086.575V89.425C1168%2092.45%201168.35%2095.5%201168.35%2095.5C1168.53%2096.8388%201169.03%2098.1153%201169.8%2099.225C1170.87%20100.238%201172.28%20100.81%201173.75%20100.825C1176.65%20101.1%201186%20101.2%201186%20101.2C1186%20101.2%201193.5%20101.2%201198.5%20100.8C1199.18%20100.794%201199.84%20100.652%201200.46%20100.381C1201.08%20100.11%201201.64%2099.717%201202.1%2099.225C1202.91%2098.1248%201203.44%2096.8475%201203.65%2095.5C1203.65%2095.5%201204%2092.45%201204%2089.425V86.575C1203.99%2084.5454%201203.87%2082.5178%201203.65%2080.5ZM1182.05%2093.275V82.725L1191.78%2088L1182.05%2093.275Z%27%20fill%3D%27white%27%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%27clip0_1_2%27%3E%3Crect%20width%3D%271280%27%20height%3D%27832%27%20fill%3D%27white%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%27clip2_1_2%27%3E%3Crect%20width%3D%2760%27%20height%3D%2760%27%20fill%3D%27white%27%20transform%3D%27translate%281156%2058%29%27%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.about-section-title {
   box-sizing: border-box;
   flex: 0 0 auto;
   max-width: 521px;
   margin-top: 34px;
   font: 700 27px AKONY;
   color: white;
}

